<html class="no-js" lang="en"
	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:tiles="http://tiles.apache.org/tags-tiles"
	xmlns:form="http://www.springframework.org/tags/form"
	xmlns:spring="http://www.springframework.org/tags"
	xmlns:sec="http://www.springframework.org/security/tags">
<jsp:output doctype-root-element="HTML" doctype-system="about:legacy-compat" />
<jsp:directive.page contentType="text/html;charset=UTF-8" />
<jsp:directive.page pageEncoding="UTF-8" />
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta http-equiv="cache-control" content="no-cache" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<!-- Get the user locale from the page context (it was set by Spring MVC's locale resolver) -->
	<c:set var="plocale">${pageContext.response.locale}</c:set>
	<c:set var="userLocale">
		<c:out value="${fn:replace(plocale, '_', '-')}" default="en" />
	</c:set>

	<spring:message code="application_name" var="app_name" htmlEscape="false" />
	<title><c:out value="${app_name}" /></title>

	<!-- style -->
	<spring:url value="/css/font-awesome.min.css" var="css_url_fontawesome"/>
	<link href="${css_url_fontawesome}" rel="stylesheet" type="text/css"/>	
    <spring:url value="/css/foundation.css" var="css_url_foundation" />
    <spring:url value="/css/foundation_overrides.css" var="css_url_foundation_overrides" />
    <spring:url value="/css/index.css" var="css_url_index" />
    <spring:url value="/css/evol.colorpicker.css" var="css_url_colorpicker" />
    <spring:url value="/css/foundation-datepicker.css" var="css_url_foundation_datepicker" />
    <spring:url value="/js/locales/bootstrap-datepicker.${fn:substring(plocale, 0, 2)}.js" var="js_url_bootstrap_datepicker_locale" />
	<spring:url value="http://fonts.googleapis.com/css?family=Pacifico" var="css_url_pacifico" />
    <spring:url value="/css/jquery-ui.css" var="css_url_jquery_ui" />
    <spring:url value="/css/chosen.css" var="css_url_chosen_multiselect" />
	<spring:url value="/css/ios_checkbox/style.css" var="css_url_ios_checkbox" />
    
    <link href="${css_url_pacifico}" rel="stylesheet"  type="text/css" />
	<link href="${css_url_foundation}" rel="stylesheet"  type="text/css" />
	<link href="${css_url_foundation_overrides}" rel="stylesheet"  type="text/css" />
	<link href="${css_url_index}" rel="stylesheet"  type="text/css" />
	<link href="${css_url_colorpicker}" rel="stylesheet"  type="text/css" />
	<link href="${css_url_foundation_datepicker}" rel="stylesheet"  type="text/css" />
	<link href="${css_url_chosen_multiselect}" rel="stylesheet"  type="text/css" />
	<link href="${css_url_ios_checkbox}" rel="stylesheet"  type="text/css" />
	
		<!-- javascript -->
	
	<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBIHXK_2ph_qwnua5FDDhhrKzAfhcSmlU">
    </script>
    
	<spring:url value="/js/vendor/modernizr.js" var="js_url_modernizr" />
	<spring:url value="/js/vendor/jquery.js" var="js_url_jquery" />
    <spring:url value="/js/foundation.min.js" var="js_url_foundation" />
    <spring:url value="/js/index.js" var="js_url_index" />
    <spring:url value="/js/evol.colorpicker.min.js" var="js_url_colorpicker" />
    <spring:url value="/js/jquery-ui.min.js" var="js_url_jqueryui" />
	<spring:url value="/js/carmodelchoix.js" var="js_url_carmodelchoix" />
	<spring:url value="/js/foundation-datetimepicker.js" var="js_url_foundation_datepicker" />
	<spring:url value="/js/chosen.jquery.js" var="js_url_choosen_multiselect" />
	<spring:url value="/js/iphone-style-checkboxes.js" var="js_url_iphone_checkboxes" />	
	<spring:url value="/js/confirm_with_reveal.js" var="js_url_confirm_foundation" />
	<spring:url value="/js/jRate.js" var="js_url_jRate" />


	<script type="text/javascript" src="${js_url_modernizr}"><jsp:text/></script>
	<script type="text/javascript" src="${js_url_jquery}"><jsp:text/></script>
	<script type="text/javascript" src="${js_url_foundation}"><jsp:text/></script>
	<script type="text/javascript" src="${js_url_index}"><jsp:text/></script>
	<script type="text/javascript" src="${js_url_jqueryui}"><jsp:text/></script>
	<script type="text/javascript" src="${js_url_colorpicker}"><jsp:text/></script>
	<script type="text/javascript" src="${js_url_carmodelchoix}"><jsp:text/></script>
	<script type="text/javascript" src="${js_url_foundation_datepicker}"><jsp:text/></script>
	<script type="text/javascript" src="${js_url_choosen_multiselect}"><jsp:text/></script>
	<script type="text/javascript" src="${js_url_iphone_checkboxes}"><jsp:text/></script>
	<script type="text/javascript" src="${js_url_confirm_foundation}"><jsp:text/></script>
	<script type="text/javascript" src="${js_url_jRate}"><jsp:text/></script>

	<script>
      $(document).foundation();     
    </script>
    

</head>
<body>
    
    <tiles:insertAttribute name="body" />
    
	<div id="map-canvas" class="col-sm-6 col-sm-offset-3"></div>
	<div id="loading" class="modal"></div>
</body>
</html>